@model Agreement.Data.Agreement

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Agreement</h4>
    <hr />
    <dl class="row">
        
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EffectiveDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EffectiveDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExpirationDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExpirationDate)
        </dd>
        
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NewPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NewPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Active)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Active)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.AgreementId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
